/* initialization  */
html{background:none repeat scroll 0 0#FFFFFF;color:#000000;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0 none;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none outside none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:"";}
abbr,acronym{border:0 none;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{}
legend{color:#000000;}
body{font:13px/1.231 arial,helvetica,clean,sans-serif;}
select,input,button,textarea{font:99%arial,helvetica,clean,sans-serif;}
table{font-size:inherit;}
pre,code,kbd,samp,tt{font-family:monospace;line-height:100%;}
a{text-decoration:none;}
a:hover,a:focus{text-decoration:underline;}
strong{font-weight:bold;}
input[type="submit"]{cursor:pointer;}
button{cursor:pointer;}

/* -------------------------------------- Samhuarkan stylesheet -----------------------------------------*/

/* wrapper */
#wrapper {
  width:700px;
  margin: 0 auto;
}

#header {
  width:700px;
  height: 200px;
  margin: 10px 5px 70px;
}

#header img {
  width:400px;
  float:left;
}

#header div {
  width:200px;
  float:left;
}

#bocetos-header {
  width:700px;
}

#episodios-idx-header {
    display: inline-block;
    margin: 2px;
    width: 700px;
}

#episodios-idx-header .title {
    float: left;
    font-size: 100%;
    font-weight: bold;
    padding: 20px 0 10px;
    width: 330px;
}

#episodios-idx-header p {
	padding: 15px 0;
}

#episodios-index {
    display: inline-block;
    margin: 2px;
    width: 700px;
}

.index-header {
    background: #101010 none repeat scroll 0 0;
    color: #C0C0C0;
    display: inline-block;
    font-size: 130%;
    font-weight: bold;
    width: 700px;
    padding: 5px;
    text-align: center;
}

.index-row {
	width: 700px;
	clear: both;
	display: inline-block;
}

.index-col {
	float: left;
	width: 202px;
	padding: 15px;;
}

#episodios-index a {
	text-decoration:none;
	font-weight: bold;
	font-size: 120%;
	color: #7f7f7f;
}

#bocetos-header h2 {
    font-size: 200%;
    font-weight: bold;
    text-align: center;
}

.image-grid {
    margin: 0 auto;
    width: 300px;
}

.image-row {
    display: flex;
    margin: 10px 10px 100px;
    width: 700px;
}

.image-container {
  width: 100px;
  height: 60px;
  float:left;
  margin:10px;
}

.image-container a {
  text-decoration:none;
  color:#808080;
  font-size:110%;
}

.image-container img {
  width:100%;
  height: auto;
}

#footer {
  width:700px;
  color:#C0C0C0;
}

#footer a {
  text-decoration:none;
  font-weight:bold;
  color:#808080;
}

.vigneta {
  width:360px;
  float:left;
}

.vigneta a {
  font-size:120%;
  text-decoration:none;
  color:#808080;
}

.row {
  width:700px;
}

.col {
  width:300px;
  float:left;
  padding:0 20px;
  font-size:120%;
}

.col a {
  test-decoration:none;
  color:#808080;
}

.small-col {
  width:250px;
  float:left;
  padding: 46px 46px 10px;
  font-size:120%;
}

.separator {
  clear:both;
}
